.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 0;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}

.page {
  padding: 0 0 84px;
}
